:root { 
--gray_600:#818181; 
--gray_500:#a0a0a0; 
--blue_gray_100:#d9d9d9; 
--black_900:#000000; 
--amber_400:#fec828; 
--gray_800:#403c3c; 
--gray_800_01:#393939; 
--amber_A200:#ffd741; 
--black_900_3f:#0000003f; 
--white_A700:#ffffff; 
--gray_300:#e3e3e3; 
--gray_100:#f2f2f2; 
}